<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ming.com.usesystemutils_lib">
    <!--调用系统相机权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--向SD中写入数据权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>
</manifest>
